__pycache__/*
area2_office8/*
ema_panoformer/*
gt_depth/*
pred_depth/*
tmp/*
tmp_one_cycle/*
tmp_s2d3d/*
tmp_s2d3dtest/*
val_rgb/*
tmp_lightwight/*
new_version/*
egformer/*
pano_verify/*
tmp/*
egformer/
network/__pycache__/*
newmetrics/py360convert/__pycache__/*
pano_verify/*
pred_depth/*
tmp_lightwight_refine/*
weights_35/*